*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib


# External tool builders
.externalToolBuilders/

# CDT-specific
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse
